<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>ToDo List</h1>
        </div>
        <form action="/add" method="post">
            <input type="text" name="task" placeholder="Ajouter une tâche" required>
            <input type="text" name="description" placeholder="Ajouter une description" required>
            <button type="submit" class="addBtn">Ajouter</button>
        </form>
        <ul>
            {% for task in tasks %}
            <li class="{{ 'checked' if task[4] else '' }}">
                <div>
                    Tâche #{{ loop.index }}. {{ task[1] }} - Description : {{ task[2] }} - Créée le : {{ task[3] }}
                </div>
                <div class="action-buttons">
                    {% if not task[4] %}
                        <span class="complete" onclick="window.location.href='/complete/{{ task[0] }}'">✓</span>
                    {% endif %}
                    <span class="close" onclick="window.location.href='/remove/{{ task[0] }}'">×</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
